nav.navbar.navbar-inverse
  .container
    .navbar-header
      button(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="#").navbar-brand Sassy Pugger
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
