.navbar-header, #navbar, nav.navbar.navbar-inverse {
  background-color: #ff79c6;
  border-bottom: ghostwhite;
  margin-bottom: 0; }
  .navbar-header a, #navbar a, nav.navbar.navbar-inverse a {
    color: ghostwhite;
    text-transform: uppercase; }

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; }
  .banner .img-circle {
    width: 300px; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
